@font-face {
    font-family: 'Montserrat';
    src: url('images and fonts/Montserrat/static/Montserrat-Light.ttf') format('ttf'); /* Update the file extension and format */
    font-weight: 500;
    font-style: normal;
}

button {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    height: 30px;
    margin: 10px;
    margin-right: 5px;
}

h1 {
    margin-bottom: 0px;
    margin-top: 50px;
    font-weight: 400;
}

body {
    background-color: #e0e6f0;
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: -25px;
}

#Intro-Text {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 350;
}

#logo {
  max-width: 20%;
  height: auto;
}

#info-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

main {
    padding: 20px;
    text-align: center;
}

#content-area {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

label {
    margin-left: 15px;
}

#map-container {
    width: 100%;
    overflow: hidden; /* allows scrolling */
    position: relative;
    cursor: move; /* change cursor to indicate the image can be dragged */
}

#map-image {
    width: 100%; /* Adjust this to set the initial zoom level */
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/* Responsive design */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #info-button {
        margin-top: 10px;
    }
}

.select2-container {
    width: 10% !important;
}

/* Stil für den Container der aktuellen Route */
#currentRoute {
    margin-top: 20px;
    /* Weitere Stiloptionen nach Bedarf */
}

/* Stil für den Container der vorherigen Routen */
#previousRoutesContainer {
    margin-top: 20px;
    /* Weitere Stiloptionen nach Bedarf */
}

/* Stil für die Liste der vorherigen Routen */
#previousRoutes {
    list-style-type: none; /* Entfernt Bullet Points */
    padding: 0;
}

#previousRoutes li {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-bottom: 5px;
}
